{
  "plugins": ["css-modules"],
  "extends": [
    "react-app",
    "prettier",
    "plugin:css-modules/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "no-const-assign": "error",
    "import/no-anonymous-default-export": "error",
    "import/dynamic-import-chunkname": "error",
    "import/order": ["error", { "newlines-between": "always", "alphabetize": { "order": "asc" } }],
    "import/no-duplicates": "error",
    "import/no-cycle": "error",
    "react-hooks/exhaustive-deps": ["error", { "additionalHooks": "useCustomCompareMemo" }]
  },
  "overrides": [
    {
      "files": ["cypress/**/*.ts", "cypress/**/*.js"],
      "extends": ["plugin:cypress/recommended"]
    }
  ]
}
